/* topCard.css */
.top-card {
    background-color: #000;
    color: #e4e4e4;
}


.heart-icon {
    color: #fff;
}

.star-icon {
    color: #fff;
}

.card-img-top {
    width: 100%;
    height: 100px;
    object-fit: cover;
}
